<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<h1>Votre panier</h1>

<table>
<thead>
<th>Désignation</th>
<th>Quantité</th>
<th>Prix unitaire HT</th>
<th>TVA</th>
<th>Prix TTC</th>
</thead>
    <tbody>
    <tr>
        <td>Table basse</td>
        <td>1</td>
        <td>100</td>
        <td>0,2</td>
        <td>120</td>
    </tr>
    <tr>
        <td>Télévision OLED</td>
        <td>2</td>
        <td>600</td>
        <td>0,2</td>
        <td>720</td>
    </tr>
    </tbody>


    <h2>Total</h2>
    <div>
        <ul>
            <li>Total HT : 700</li>
            <li>Total TTC : 840</li>
        </ul>
    </div>
</table>

<a th:href="@{/panier/payment}">
    <button >
        Procéder au paiement !
    </button>
</a>

</body>
</html>